# Ignore
__pycache__
*.pyc
tools/mwcc_compiler/*
!tools/mwcc_compiler/README.md
tools/dtk
obj/*
*.asm
*.exe
*.dol
*.dump
*.elf
*.map
*.ld
*.i64
*.id0
*.id1
*.id2
*.nam
*.til
*.o
*.cp
.vscode

# Allow
!tools/mwcc_compiler/README.md
